

#product-overview{
    background: #201E1F;
    width: 100%;
    height: 428px;
    padding: 10px;
}
.section-title{
    background: #201E1F;
    color: #FF4000;
    text-align: center;

}
#product-overview h1{
    color: white;
    font-family: sans-serif; 

}
.plans{
    background: #201E1F;
}

.plan__list{
    width: 100%;
    margin: auto;
    margin-top: -19px;
    text-align: center;
    background: #201E1F;
    
}



.plan{
    background: #ffb196;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted{
    background: #ff4000;
    color: white;
    /* box-shadow: 2px 2px 2px 2px rgba(191, 191, 238, 0.5); */
    
}

.plan__annotation{
    background: white;
    color: #201E1F;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px ;
}


.plan--highlighted .plan-price{
    color: #201E1F;
}
.plan--highlighted .plan-title{
    color: white;
}

.planfeature{
    list-style: none;
    margin: 0;
    padding: 0;

}

.planfeature li{
    margin: 8px 0;
}

.section_feat{
    color: #FF4000;
    display: flex;
    justify-content: center;
    padding: 32px;
    margin-bottom: px;
}


#key_features{
    background: #201E1F;
}
#key_features .section-title{
    color: #201E1F;
    margin: 32px;
    padding: 16px;
}

.key-feature__list{
    list-style: none;   
    margin: 0;
    padding: 0;
    text-align: center;

}

.key-feature{
    display: inline-block;
    width: 30%;
    vertical-align: top;

}
.key-feature__description{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding-top: 32px;
}
.key-feature__image{
    background: #ffb196;
    height: 128px;
    width: 128px;
    border: 2px solid #201E1F;
    border-radius: 50%;
    margin: 0 auto;
}




